.product-info > h2 {
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.product-info > h3 {
  color: rgb(40,40,40);
  font-size: 18px;
  font-weight: 400;
}

.product-info > h4 {
  color: rgb(40,40,40);
  font-size: 15px;
  font-weight: 400;
}

.product-price > p {
  font-size: 18px;
}

.product-description > p {
  color: rgb(40,40,40);
  font-size: 16px;
}

.white-background {
  background-color: white;
}
