.btn-delete {
  background-color: #B1B1B1;
  color: white;
  padding: 5px 12px;
  font-size: 14px;
}

a.btn-delete {
  text-decoration: none;
  color: white;
}

.vat {
  color: rgb(150,150,150);
  font-size: 14px;
  font-weight: 300;
}

.total {
  color: rgb(40,40,40);
  font-size: 25px;
  font-weight: 300;
}

.price {
  font-size: 27px;
  font-weight: 700;
}

