.ty-pg-order {

  h2 {
    font-size: 21px;
    font-weight: 550;
  }

  ul {
    padding: 5px;
    margin: 15px;
  }
}

.thank-you-add-quantity {
  padding-right: 17px;
  color: #202020;
  text-align: center;
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.thank-you-info .product-quantity {
  width: 80px;
}

.total-price-thank-you {
  font-size: 21px;
}

.ordered-items-thank-you {
  padding: 20px 0;
  margin-left: -15px;
}
