.ty-pg-order {

  h2 {
    font-size: 21px;
    font-weight: 550;
  }

  ul {
    padding: 5px;
    margin: 15px;
  }
}

.thank-you-info .add-quantity {
  padding-right: 17px;
}

.thank-you-info .product-quantity {
  width: 80px;
}

.total-price-thank-you {
  font-size: 21px;
}

.ordered-items-thank-you {
  padding: 20px 0;
}
