<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag image_path('safebite_logo.png') %>
    <% end %>

    <% # if #home %>
      <li class="nav-item">
        <div class="search">
          <i class="flex-item search-icon fas fa-search"></i>
          <%#= image_tag image_path('Ellipse.png'), class: "search-icon" %>
          <%= simple_form_for Product.new, url: root_path, method: :get, html: {class: "flex-item"} do |f| %>
            <%= f.input :search, label: false, placeholder: "search", input_html: { class: "search-bar", value: session[:search] } %>
          <% end %>
        </div>
      </li>
    <% #end %>
      <button class="burguer-menu" type="button" id = "sidebarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

</div>

