<div class="container pages-container">
  <h1>Thank you</h1>
</div>

<h2>Order</h2>
<ul>
  <li>Status: <%= @order.order_status %></li>
  <li>Items: <% @order.orders_products.each do |product| %></li>
    <li><%= product.product.name %></li>
  <% end %>
  <li>Amount: <%= humanized_money_with_symbol(@order.total) %></li>
<ul>

<h3>Your deliver is on the way. Have a nice and delicious meal!</h3>
