<h1>THANK YOU FOR PAYMENT</h1>




<h1>Order</h1>
<ul>
  <li>Status: <%= @order.order_status %></li>
  <li>Items: <% @order.orders_products.each do |product| %></li>
  <ul><%= product.product.name %></ul>
  <% end %>
  <li>Amount: <%= humanized_money_with_symbol(@order.total) %></li>
<ul>
