<h1>Welcome <%= current_user ? current_user.first_name : 'to Safebite!' %> </h1>

<div class="separator"></div>

<div class="product-sugestion">
  <p>Products you'll love</p>
</div>

<div class="product-sugestion">
  <p>Products without lactose</p>
</div>

  <%= link_to "Go shopping", products_path, class: "btn btn-text" %><i class="fas fa-arrow-right"></i>
