<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SafeBite</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="r9lPTZ55ZBCJrGHqzbPrYG5l+CZvodM3Hy5fCWXUwGlx2S334yRts8QmPwp6NlfI2pl1L5tfXmsdTwIcZiNG/A==" />
    <meta name="action-cable-url" content="/cable" />
    <link rel="stylesheet" media="all" href="/assets/application-b6555bc3e278146aa777c0b35cc8be9a2719c276d879b59d0594fd829c1d12b4.css" />

  </head>
  <body>

    <h1>Safe Bite</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to "Edit your restriction", edit_families_allergens %>

    <script src="/assets/application-33fb130d4bd6a80dd802ecb7e62d81f0352b216dafcfb5f9924faf746d384969.js"></script>
    <script src="/packs/js/application-5271b7513a0e5e4df23b.js"></script>
  </body>
</html>
