.family-choices {
  display: flex;
  margin: 0 -15px;
}

.family-box {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.family-choice {
  width: 170px;
  background: white;
  padding: 15px 10px;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  color: gray;
  &.active {
    opacity: 1;
  }
}

.right-group {
  margin-left: 35px;
}

.left-choice {
  border-radius: 0px 50px 50px 0px;
}

.right-choice {
  border-radius: 50px 0px 0px 50px;
}

.allergen-image {
  width: 25px;
  margin-right: 10px;
}

.checked-icon {
  width: 30px;
  position: relative;
  top: 15px;
}

.hidden-icons {
    opacity: 0;
}
