.family-choices {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.family-box {
  flex: 0 0 50%;
}

.family-choice {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 50px 50px 50px 50px;
  opacity: .4;
  height: 77px;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  color: white;
  opacity: 1;
  }
}

// .hidden {
//   display: none;
// }

.family-choice img {
  width: 30px;
}

.container-families {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.family {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 50px 50px 50px 50px;
}
