.category-arrow {
    width: 300px;
    height: 100px;
    position: relative;
    background: #ffffff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.07);
    color: #302A26;
  }

a:hover {
      text-decoration: none !important;
    }

.category-arrow:before {
      content: "";
      position: absolute;
      right: -25px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 25px solid #ffffff;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
    }

.category-text {
  width: 200px;
  padding-left: 20px;
}

#category-image {
  width: 100px;
  height: 100%;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/1268558/pexels-photo-1268558.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
