.light h2 { 


position: absolute;
width: 320px;
height: 34px;
left: 24px;
top: 226px;
}


/* first name */


position: absolute;
left: 7.63%;
right: 54.74%;
top: 34.06%;
bottom: 59.61%;



/* last name */


position: absolute;
left: 50.79%;
right: 11.58%;
top: 34.06%;
bottom: 59.61%;



/* email */


position: absolute;
left: 7.63%;
right: 11.58%;
top: 57.3%;
bottom: 36.37%;



/* address */


position: absolute;
width: 307px;
height: 51.37px;
left: 29px;
top: 338.83px;



/* credit card */


position: absolute;
width: 307px;
height: 51.37px;
left: 30px;
top: 402.05px;



/* current password */


position: absolute;
width: 307px;
height: 51.37px;
left: 31px;
top: 591.71px;



/* new password */


position: absolute;
width: 307px;
height: 51.37px;
left: 29px;
top: 528.49px;



/* save btn */


position: absolute;
left: 53.42%;
right: 12.37%;
top: 89.66%;
bottom: 3.53%;



/* cancel btn */


position: absolute;
left: 7.89%;
right: 56.84%;
top: 89.66%;
bottom: 3.53%;



/* bold h1 */


position: absolute;
width: 188px;
height: 120px;
left: 157px;
top: 90px;



/* photo */


position: absolute;
width: 123px;
height: 118px;
left: 25px;
top: 92px;

background: #C4C4C4;


/* back btn */


position: absolute;
width: 42px;
height: 39px;
left: 32px;
top: 34px;



/* Menu */


position: absolute;
width: 33px;
height: 38px;
left: 316px;
top: 39px;



/* restrictions btn */


position: absolute;
left: 8.42%;
right: 12.37%;
top: 80.78%;
bottom: 12.41%;
