.container.error-404 {
  min-height: 100vh;
  background-color: $orange;
}

.milk-404 {
  margin-top: 50%;
  max-height: 100vh;
}

#mouth-frown {
  visibility: hidden;
}

.container.error-404 a {
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
  padding: 10px;
}
