.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 0px;
  li {
  list-style-type: none;
  }
}

.navbar-brand {
  padding: 15px;
  margin-right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.burguer-menu {
  border: none;
  position: absolute;
  top: 19px;
  right: 19px;
  background-color: transparent;

  &:focus {
    outline: 0px auto -webkit-focus-ring-color;
  }
}

#sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  z-index: 100;
  width: 0%;
  transition: all 0.2s;
  padding-top: 57px;
  overflow: hidden;
  background-color: orange;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  li {
    margin-top: 10px;
  }
  ul li a {
    padding: 10px;
    font-size: 1.4em;
    color: rgba(255,255,255,0);
    &:focus {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}

#sidebar.active {
  width: 83%;
  padding-left: 30px;
  ul li a {
    color: rgba(255,255,255,0.7);
  }
}

#sidebarCollapse {
z-index: 999;
}
