.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 0px;
  li {
  list-style-type: none;  
  }
}

.navbar-brand {
  padding: 15px;
  margin-right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.burguer-menu {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;

  &:focus {
    outline: 0px auto -webkit-focus-ring-color;
  }
}

.dropdown-menu {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  padding: 0px;
}

.dropdown-item {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: $orange;
  color: rgba(255,255,255,0.7);
  &:active {
    background-color: $orange;
  }
  &:focus {
   background-color: $orange;
   color: white;
  }
  &:hover {
   background-color: $orange;
   color: white;
  }
}
