.search {
	display: flex;
  width: 305px;
}

.hide-search-bar {
  display: none;
}

.search-icon {
 	margin-top: 25px;
 	font-size: 20px;
 	color: rgb(160,160,160);
  margin-left: 15%;
}

.search-bar {
	margin-right: 15%;
  margin-top: 13px;
  font-size: 19px;
  color: #D1D1D1;
  background-color: transparent;
  border: none;
  width: 80%;
}

.search .form-group {
    margin-bottom: 1rem;
    width: 165px;
}

.search-bar:focus {
	margin-right: 15%;
	margin-top: 13px;
	font-size: 19px;
	color: rgb(120,120,120);
	background-color: #F4F4F4;
	border: none;
	width: 100%;
	box-shadow: none;
 }
