/* simple slider  */
.product-list {
  display: flex;
  padding: 0 0 1rem 0;
  width: 96vw;
  margin-left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.product-list::-webkit-scrollbar {
  width: 0px;
  height: 7px;
}

.product-list::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 10px;
}

.product-list::-webkit-scrollbar-track {
  background: transparent;
}
