<h1> <%= @products.first.category.gsub(/_/, ' ').gsub(/and/, '&').capitalize %> </h1>

<% @products.each do |product| %>
  <p> <%= link_to product.name, product_path(product) %> </p>
<% end %>

<%= link_to 'Go back', products_path %>
