<h1> <%= @products.first.category.gsub(/_/, ' ').gsub(/and/, '&').capitalize %> </h1>
<% @products.each do |product| %>
  <p> <%= product.name %> </p>
<% end %>

<%= link_to 'Go back', products_path %>
