<h1>Hello, <%= current_user ? current_user.first_name : 'Safebiter!' %>
</h1>
<h3>We know you want to avoid lactose!</h3>

<% @categories.each do |category| %>
  <p> <%= link_to category.gsub(/_/, ' ').gsub(/and/, '&'), category_products_path(category) %> </p>
<% end %>
