<div class="container py-4 category-message">
  <h3>We know you want to avoid lactose!</h3>
</div>

  <% @categories.each do |category| %>
    <%= link_to category_products_path(category) do %>
      <div class="category-arrow">
        <div id="category-image"></div>
        <div class="category-text">
          <h3> <%= category.gsub(/_/, ' ').gsub(/and/, '&') %> </h3>
        </div>
        </div>
    <% end %>
  <% end %>