<div class="container py-4 category-message">
  <h1>We know you want to avoid <span style="color: #FC9233;"><%= current_user.allergen_families.map(&:name).to_sentence.gsub(/and/, '&') %></span>.</h1>

</div>

  <% @categories.each do |category| %>
    <%= link_to category_products_path(category) do %>
      <div class="category-card">
        <div id="category-image" style="background-image: url(<%= image_url("#{category + '.jpeg'}") %>)"></div>
        <div class="category-text">
          <h3> <%= category.gsub(/_/, ' ').gsub(/and/, '&').capitalize %> </h3>
        </div>
      </div>
    <% end %>
  <% end %>
