 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <title>Error!</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="error">
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
